h1 { font-size: 32px; color: purple; font-family: elephant, times new roman;
  }
  
h2 { font-size: 24px; color: black;
  }

h3 { font-size: 18px; color: black;

body { font-family: arial; font-size: 14px; color: black;

p { font-family: arial; font-size: 14px; color: black;
